/* Fuente utilizada para la mayoria de la pagina */
* {
    font-family: "Oswald", sans-serif;
}

/* html {
    scroll-behavior: smooth
} */

/* Tamaño inicial del textarea para mensajes */
textarea {
    height: 150px;
}

/* Eleccion de fuente para footer */
footer {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Cambio de colores del tooltip */
.tooltip-inner {
    background-color: #0dcaf0;
    box-shadow: 0px 0px 4px #0dcaf0;
}

/* Eleccion de fuente para el logo del navbar */
.nav-brand-text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.footer-text {
    font-size: 28px;
}