* {
    font-family: "Oswald", sans-serif;
}

/* html {
    scroll-behavior: smooth
} */

nav {
    background-color: #299ba6;
}

textarea {
    height: 150px;
}

footer {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-brand-text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.footer-text {
    font-size: 28px;
}